<%- include('partials/header') %>

<!-- Penilaian Karyawan -->
  <main>
    <div class="content" id="content">
      <section class="header">
        <h2>
          Sistem Penilaian Kinerja Karyawan
          <small class="fs-6 fw-lighter text-body-secondary">PT. Pengawasan</small>
        </h2>
      </section>
      <!-- content section -->
      <section class="main-content">
        <div class="col-xs-12">
          <div class="box-grey">
            <h3 class="fs-5 m-0">
              Penilaian Karyawan 
              <small class="fs-6 fw-lighter text-body-secondary">PT. Pengawasan</small>
            </h3>
            <div class="box-body mt-4">
              <div class="heading-box-body">
                <a href="/tambah-penilaian">
                  <button class="btn btn-primary" style="font-size: 14px">
                    <img src="/assets/checklist-svgrepo-com.svg" width="13" height="13">
                    Penilaian
                  </button>
                </a>
              </div>
              <div id="table" style="overflow-x: auto; max-width: 100%; margin: 10px 0;">
                <table class="w-100" style="font-size: 14px;">
                  <thead>
                    <tr>
                      <th>No</th>
                      <th>Nama Karyawan</th>
                      <th>Absensi</th>
                      <th>Kinerja</th>
                      <th>Kerjasama</th>
                      <th>Kreativitas</th>
                      <th>Sikap</th>
                      <th>Aksi</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% penilaian.map((person, index) => { %>
                      <tr>
                        <td><%= index + 1 %></td>
                        <td><%= person.nama_karyawan %></td>
                        <td><%= person.absensi %></td>
                        <td><%= person.kinerja %></td>
                        <td><%= person.kerjasama %></td>
                        <td><%= person.kreativitas %></td>
                        <td><%= person.sikap %></td>
                        <td>
                          <!-- Modal Template -->
                          <div id="modal-<%= person.penilaian_id %>" class="modal">
                            <div class="modal-content">
                              <span class="close" onclick="closeModal('<%= person.penilaian_id %>')">&times;</span>
                              <h2>Konfirmasi Hapus</h2>
                              <p>Apakah Anda yakin ingin menghapus penilaian ini?</p>
                              <div class="modal-actions">
                                <!-- Tombol Konfirmasi -->
                                <form action="/hapus-penilaian/<%=person.penilaian_id %>" method="POST">
                                  <button type="submit" class="btn btn-danger">Hapus</button>
                                </form>
                                <!-- Tombol Batal -->
                                <button type="button" class="btn btn-info text-white" onclick="closeModal('<%= person.penilaian_id %>')">Batal</button>
                              </div>
                            </div>
                          </div>

                          <!-- Tombol Hapus -->
                          <button type="button" class="delete-btn btn btn-danger" onclick="openModal('<%= person.penilaian_id %>')">
                            <img src="/assets/bin.png" width="16" height="16">
                          </button>

                        </td>
                      </tr>    
                    <% }) %>                                      
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

<%- include('partials/footer') %>